.login-container[b-00srd1ojka] {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-page[b-00srd1ojka] {
    background: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: auto;
    z-index:10;
    position:relative;
}

h3[b-00srd1ojka] {
    font-size: 24px;
    font-weight: 600;
    color: #4E55C2;
    margin-bottom: 20px;
    text-align: center;
}

/* Form fields */
.form-group[b-00srd1ojka] {
    margin-bottom: 20px;
}

label[b-00srd1ojka] {
    font-size: 14px;
    font-weight: 600;
    color: #666;
    display: block;
    margin-bottom: 8px;
}

.input-group[b-00srd1ojka] {
    display: flex;
    flex-direction: column;
}

input[type="text"][b-00srd1ojka], input[type="password"][b-00srd1ojka], select[b-00srd1ojka] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
}

    input[type="text"]:focus[b-00srd1ojka], input[type="password"]:focus[b-00srd1ojka], select:focus[b-00srd1ojka] {
        border-color: #4E55C2;
    }

button[b-00srd1ojka] {
    background-color: #4E55C2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

    button:hover[b-00srd1ojka] {
        background-color: #3b47b7;
    }

/* Validation error message */
.text-danger[b-00srd1ojka] {
    font-size: 14px;
    color: #ff4d4d;
    text-align: center;
    margin-top: 10px;
}

/* Optional: Add some space between form elements for better layout */
input[b-00srd1ojka], select[b-00srd1ojka], button[b-00srd1ojka] {
    margin-bottom: 15px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .login-page[b-00srd1ojka] {
        width: 90%; /* Make form full-width on smaller screens */
        padding: 20px;
    }
}
